<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j_s04</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>helloWorldServlet</servlet-name>
    <servlet-class>action.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloWorldServlet</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lifeServlet</servlet-name>
    <servlet-class>action.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifeServlet</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>action.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forwardServlet</servlet-name>
    <servlet-class>action.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>